.projects-title {
    font-family: 'Source Sans Pro', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 3.5rem;
    background-color: #00B6FF;
    line-height: 2;
    text-align: center;
    width: 100%;
    transform: translateX(-400px);
    transition: all 0.5s ease-in;
    font-style: italic;
    font-weight: 400;
    margin: 0;
}

.myprojects {
    position: relative;
    width: 100%;
    height: 100vh;
    color: white;
    cursor: grabbing;
    background-color: #9B308C;
}

.myprojects-nav {
    position: relative;
    top: 20%;
    left: 12%;
    z-index: 10;
}

.myprojects-nav p {
    font-size: 3.5rem;
    opacity: 0.5;
    width: fit-content;
    cursor: pointer;
}

.myprojects-banner {
    position: absolute;
    top: 15%;
    left: 25%;
    opacity: 0.5;
}

.myprojects-images {
    padding: 10px 8px;
    width: 80rem;
    height: 45rem;
    /* transition: background-color  0.7s ease, margin 2.5s ease; */
}