body {
        font-family: "Merriweather", serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 2;
        color: #5e493a;
      }
      body.fh5co-overflow {
        overflow-x: auto;
      }
      
      a {
        color: #fb6e14;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
      }
      a:hover, a:focus, a:active {
        color: #bf4c03;
      }
      
ul, li {
        margin: 0;
        padding: 0;
        list-style-type: none;
        list-style: none;
}